AddDefaultCharset utf-8
php_flag display_errors on
php_value error_reporting 204700
Options -All -Multiviews +FollowSymLinks
IndexIgnore *.php *.pl *.cgi *.htaccess *.htpasswd

RewriteEngine On

<Files *.jpg> 
	RewriteEngine Off
</Files>
<Files license.txt> 
	RewriteEngine Off
</Files>
<Files Storage.php> 
	RewriteEngine Off
</Files>
<Files readme.html> 
	RewriteEngine Off
</Files>
<Files favicon.ico> 
	RewriteEngine Off
</Files>

RewriteRule .* index.php

