a {
	color: #000;
	border-bottom: 1px dashed #000;
}
.form_element, .form_element:hover, .form_element:focus {
	background: #fff;
	border-color: rgb(110, 188, 0);
}
.green {
	box-shadow: 0px 0px 7px #0f0;
	-moz-box-shadow: 0px 0px 7px #0f0;
	-webkit-box-shadow: 0px 0px 7px #0f0;
}
.red {
	box-shadow: 0px 0px 7px #f00;
	-moz-box-shadow: 0px 0px 7px #f00;
	-webkit-box-shadow: 0px 0px 7px #f00;
}
.grey {
	box-shadow: 0px 0px 7px #999;
	-moz-box-shadow: 0px 0px 7px #999;
	-webkit-box-shadow: 0px 0px 7px #999;
}
.white, a:hover.white  {
	border: none;
	color: #fff;
	text-decoration: none;
}
a.black, a:hover.black {
	border: none;
	color: #000;
	text-decoration: none;
}