#header_zone {
	height: 30px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#header_green, #header_black {
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	position: fixed;
	right: 300px;
	top: 0px;
	width: inherit;
}
#header_green {
	height: 70px;
	z-index: 2;
}
#header_black {
	height: 115px;
	z-index: 1;
}
#user_header {
	border-radius: 7px;
	-moz-border-radius: 7px;
	height: 92px;
	margin: 5px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 252px;
	z-index: 3;
}
#avatar_header {
	border-radius: 5px;
	-moz-border-radius: 5px;
	float: left;
	font-size: 80px;
	height: 80px;
	line-height: 80px;
	margin: 5px;
	position: fixed;
	width: 80px;
	vertical-align: top;
}
#user_info_header {
	float: right;
	height: 82px;
	margin: 5px 5px 5px 90px;
	position: fixed;
	width: 157px;
}
#user_info_header > input[type=text] {
	background: none;
	border: #fff solid 1px;
	margin-bottom: 5px;
	width: 150px;
	text-align: center;
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #BEBEBE 0%, #FFFFFF 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #BEBEBE 0%, #FFFFFF 100%);
	/*background-image: -o-radial-gradient(center, ellipse farthest-corner, #BEBEBE 0%, #FFFFFF 100%);*/
	background-color: #BEBEBE;
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #BEBEBE 0%, #FFFFFF 100%);
	background-image: radial-gradient(center, ellipse farthest-corner, #BEBEBE 0%, #FFFFFF 100%);}
#main-menu, #main-submenu, #menu-more {
	height: 40px;
	left: 0px;
	line-height: 32px;
	position: fixed;
	text-align: left;
	top: 0px;
	z-index: 3;
}
#main-submenu {
	line-height: 20px;
	top: 40px;
}
#menu-more {
	font-size: 14px;
	line-height: 20px;
	right: 310px;
	top: 70px;
}
#main-menu > a, #main-submenu > a, #menu-more > a {
	border-bottom: none;
	cursor: pointer;
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#main-menu {
	font-size: 40px;
	margin: 0px;
	padding: 5px 0px 0px 5px;
}
#main-submenu {
	font-size: 24px;
	margin: 0px;
	padding: 5px 0px 0px 5px;
}
#menu-more {
	margin: 0px;
	padding: 5px 0px 0px 10px;
}