body {
	font-family: "Sergoe UI", Tahoma, Verdana, Arial;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#body {
	margin: 7px;
}
#body > table {
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 0px;
	margin-top: 145px;
	width: 100%;
}
.admin_form {
	text-align: center;
	width: 100%;
}
.admin_table {
	margin: auto;
}
.left_odd > tbody > tr > td:nth-child(odd), .left_even > tbody > tr > td:nth-child(even), .left_all > tbody > tr > td, tr.left_all > td, td.left_all {
	text-align: left;
	vertical-align: top;
	padding: 2px;
}
.right_odd > tbody > tr > td:nth-child(odd), .right_even > tbody > tr > td:nth-child(even), .right_all > tbody > tr > td, tr.right_all > td, td.right_all {
	text-align: right;
	vertical-align: top;
	padding: 2px;
}
.center_odd > tbody > tr > td:nth-child(odd), .center_even > tbody > tr > td:nth-child(even), .center_all > tbody > tr > td, tr.center_all > td, td.center_all {
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}
td#main_content {
	border-radius: 7px;
	-moz-border-radius: 7px;
	padding: 10px;
	vertical-align: top;
}
td#main_content > section > article > div {
	border-radius: 5px;
	-moz-border-radius:5px;
	padding: 10px;
	height: 100%;
}