body {
	font-family: "Sergoe UI", Tahoma, Verdana, Arial;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#body {
	margin: 7px;
}
#body > table {
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 0px;
	margin-top: 145px;
	width: 100%;
}
.admin_form {
	text-align: center;
	width: 100%;
}
.admin_table {
	margin: auto;
}
.center_odd > tbody > tr > td:nth-child(odd), .center_even > tbody > tr > td:nth-child(even), .center_all > tbody > tr > td, tr.center_all > td, td.center_all {
	text-align: center;
	vertical-align: middle;
	padding: 2px;
}
.right_odd > tbody > tr > td:nth-child(odd), .right_even > tbody > tr > td:nth-child(even), .right_all > tbody > tr > td, tr.right_all > td, td.right_all {
	text-align: right;
	vertical-align: top;
	padding: 2px;
}
.left_odd > tbody > tr > td:nth-child(odd), .left_even > tbody > tr > td:nth-child(even), .left_all > tbody > tr > td, tr.left_all > td, td.left_all {
	text-align: left;
	vertical-align: top;
	padding: 2px;
}
td#main_content {
	border-radius: 7px;
	-moz-border-radius: 7px;
	padding: 10px;
	vertical-align: top;
}
td#main_content > section > article > div {
	border-radius: 5px;
	-moz-border-radius:5px;
	padding: 10px;
	height: 100%;
}
a {
	text-decoration: none;
}
a:hover {
	border-bottom-style: solid;
}
a[href='#'] {
	border-bottom-style: none;
}
a:hover[href='#'] {
	border-bottom-style: inherit;
}
a[target="_blank"]::after, a[target="_new"]::after {
    content: "↑";
}
a[href^="http://"]::after {
    content: "↗";
}
.form_element, .form_element:hover, .form_element:focus {
	border: solid 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-spacing: 0px;
	padding: 3px;
}
input, textarea {
	outline: none;
}
textarea {
	overflow-x: auto;
}
header, footer {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.green, .red, .grey {
	border: solid 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 1;
}
div.ui-state-highlight.red, div.ui-state-highlight.green, #debug > p.ui-state-highlight,
div.ui-state-default.red, div.ui-state-default.green, #debug > p.ui-state-default,
div.ui-state-error.red {
	font-size: 14px;
	margin: 10px;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
}
.background {
	position: absolute;
	z-index: -100;
}