@charset "utf-8";
header * {
	overflow: hidden;
}
#header {
	margin-bottom: 10px;
	height: 110px;
	position: fixed;
	width: 100%;
	z-index: 3;
}
#header_green, #header_black, #header_dark_green {
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#header_dark_green {
	height: 20px;
	margin-top: -19px;
	z-index: 3;
}
#header_green {
	height: 70px;
	z-index: 2;
}
#header_black {
	height: 115px;
	right: 0px;
	z-index: 1;
}
#user_header {
	border-radius: 7px;
	-moz-border-radius: 7px;
	height: 92px;
	margin: 5px;
	position: fixed;
	right: 0px;
	top: 0px;
	width: 252px;
}
#avatar_header {
	border-radius: 5px;
	-moz-border-radius: 5px;
	display: inline-block;
	margin: 5px;
	height: 80px;
	width: 80px;
}
#user_info_header {
	display: inline-block;
	margin: 5px 5px 5px 0px;
	height: 82px;
	width: 148px;
}
#main-menu, #main-submenu, #menu-more {
	height: 40px;
	left: 0px;
	line-height: 32px;
	position: fixed;
	text-align: left;
	top: 0px;
}
#main-menu > menu {
	font-size: 40px;
	margin: 0px;
	padding: 5px 0px 0px 5px;
}
#main-menu > menu > a, #main-submenu > menu > a, #menu-more > menu > a {
	border-bottom: none;
	cursor: pointer;
	transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
}
#main-submenu {
	line-height: 20px;
	top: 40px;
}
#main-submenu > menu {
	font-size: 24px;
	margin: 0px;
	padding: 5px 0px 0px 5px;
}
#menu-more {
	font-size: 14px;
	line-height: 14px;
	right: 260px;
	top: 70px;
}
#menu-more > menu {
	margin: 0px;
	padding: 5px 0px 0px 10px;
}