@charset "utf-8";
body {
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	margin: 0px;
	overflow-x: hidden;
	padding: 0px;
	width: 100%;
}
body * {
	overflow: visible;
}
body[id=textarea] {
	width: auto;
}
#body {
	padding: 7px;
}
#body > table {
	border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px 0px;
	margin-top: 20px;
	width: 100%;
}
.admin_form {
	text-align: center;
}
.admin_form {
	width: 100%;
}
.admin_table {
	margin: auto;
}
.admin_table> tbody > tr > td:nth-child(odd) {
	border-spacing: 0px;
	padding-right: 20px;
	text-align: right;
	vertical-align: top;
}
.admin_table> tbody > tr > td:nth-child(even) {
	text-align: left;
}
.left_table> tbody > tr > td:nth-child(odd) {
	text-align: left;
}
.r-table td {
	border-radius: 5px;
	padding: 5px;
}
a {
	text-decoration: none;
}
a:hover {
	border-bottom-style: solid;
}
a[target="_blank"]::after, a[target="_new"]::after {
    content: "↑";
}
a[href^="http://"]::after {
    content: "↗";
}
.form_element, .form_element:hover, .form_element:focus {
	border: solid 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-spacing: 0px;
}
input.form_element[type=radio] {
	height: 13px;
	width: 13px;
}
header, footer {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.green, .red, .grey {
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 1;
}
.background {
	position:absolute;
	z-index:-100;
}