a {
	text-decoration: none;
}
a:hover {
	border-bottom-style: solid;
}
a[href='#'] {
	border-bottom-style: none;
}
a:hover[href='#'] {
	border-bottom-style: inherit;
}
a[target="_blank"]::after, a[target="_new"]::after {
    content: "↑";
}
a[href^="http://"]::after {
    content: "↗";
}
.form_element, .form_element:hover, .form_element:focus {
	border: solid 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border-spacing: 0px;
	padding: 3px;
}
input, textarea {
	outline: none;
}
textarea {
	overflow-x: auto;
}
header, footer {
	width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.green, .red, .grey {
	border-radius: 5px;
	-moz-border-radius: 5px;
	z-index: 1;
}
.background {
	position: absolute;
	z-index: -100;
}